@model CamdenRidge.Models.AllDocumentsViewModel


@{
    ViewBag.Title = "All Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Documents</h2>

@if (Model.AllowCreate == true)
{
    <p>
        @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Management Index", "Index")
    </p>
}
<table class="data-table">
    @foreach (var category in Model.Documents.Select(x => x.Category).Distinct().ToList())
    {
        <tr class="dirviewtitle">
            <td>@Html.Raw(category)</td>
        </tr>
        <tr>
            <td>
                <ul>
                    @foreach (var item in Model.Documents.Where(x => x.Category == category).OrderBy(x => x.Sequence).ToList())
                    {
                        <li>
                            <a href="@Html.Raw(item.Path)" target="_blank">
                                @Html.Raw(item.Title)
                            </a>
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }


</table>
